<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="user-inputs">
  <h2>
    Удалить запись
    <span></span>
  </h2>
</div>
<div class="container">
    <div style="float: left;"><form method="post" action="#"><button class="bn31">&nbsp;Да&nbsp;</button></form></div>
    <div style="float: right;"><form action="javascript:history.back()"><button class="bn30">Нет</button></form></div>
</div>
</body>
</html>