<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notebooks</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
<div class="form_auth_block">
    <h1 class="title_for_notebooks">Notebooks</h1>
    <div class="form_auth_content">
        <form class="form_auth_style" action="/checkUser" method="post">
            <label>Введите Ваш логин</label>
            <input name="login" placeholder="Введите логин" >
            <label>Введите Ваш пароль</label>
            <input type="password" name="pass" placeholder="Введите пароль" required >
            <button class="form_auth_button" type="submit" name="form_auth_submit">Войти</button>
        </form>
    </div>
</div>
</form>
</body>
</html>