<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link rel="stylesheet" href="/buttons.css">
    <link rel="stylesheet" href="/position.css">
    <link rel="stylesheet" href="/text.css">
</head>
<div class="text-center text-wrong" th:if="${error != null}">
    <p><td th:text="${error}"></td></p>
</div>
<div th:unless="${error != null}">
    <p class="text-center">Who are you?</p>
</div>
<body>
<form method="post" action="/login">
    <input class="obj-center" name="userName" placeholder="Your name"/>
    <p/>
    <input type="password" class="obj-center" name="password" placeholder="Your password"/>

    <p>
        <button class="obj-center btn btn-sign-in">Send</button>
    </p>
</form>
<form method="get" action="/register">
    <p>
        <button class="obj-center btn btn-register">Ooops, can I register?..</button>
    </p>
</form>
<p>
    <button onclick="history.back()" class="obj-center btn btn-back">Back</button>
</p>
</body>
</html>