<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h1>Детали</h1>
<div>
    <table>
        <tr>
            <td>Имя</td>
            <td th:utext="${record.firstName}"></td>
        </tr>
        <tr>
            <td>Отчество</td>
            <td th:utext="${record.lastName}"></td>
        </tr>
        <tr>
            <td>Номер телефона</td>
            <td th:utext="${record.phoneNumber}"></td>
        </tr>
        <tr>
            <td>Адрес</td>
            <td th:utext="${record.address}"></td>
        </tr>
    </table>
</div>
</body>
</html>